.clicable-wrapper {
    cursor: pointer;
}

.line {
    background-color: #39118a;
    width: 0px;
}

.background-line {
    top: 5px;
    width: 100%;
    height: calc(100% - 10px);
    position: relative;
    background-color: gray;
}