<div class="signup-page">
    <div class="signup">
        <!--<div class="background"></div>-->        
        <form [formGroup]="signUpForm" novalidate class="signup-inside" (ngSubmit)="save(signUpForm)">
            <div class="error" [hidden]="!globalError">{{globalError}}</div>
            <div class="signup-row first-last-name">
                <div class="first-name">
                    <input type="text" class="input name-input" formControlName="firstName" placeholder="first name" />
                    <div *ngIf="signUpForm.get('firstName').errors && signUpForm.get('firstName').dirty"
                         class="error signup-error">
                        Error
                    </div>
                </div>
                <div class="last-name">
                    <input type="text" class="input name-input" formControlName="lastName" placeholder="last name" />
                    <div *ngIf="signUpForm.get('lastName').errors && signUpForm.get('lastName').dirty"
                         class="error signup-error">
                        Error
                    </div>
                </div>
            </div>
            <div class="signup-row">
                <input type="e-mail" class="input e-mail" formControlName="email" placeholder="e-mail" />
                <div *ngIf="signUpForm.get('email').errors && signUpForm.get('email').dirty"
                     class="error signup-error">
                    Error
                </div>
            </div>
            <div class="signup-row passwords">
                <div class="password">
                    <input type="password" class="input password-input" formControlName="password" placeholder="password" />
                    <div *ngIf="signUpForm.get('password').errors && signUpForm.get('password').dirty"
                         class="error signup-error">
                        Error
                    </div>
                </div>
                <div class="password-ver">
                    <input type="password" class="input password-input" formControlName="confirmPassword" placeholder="password (again)" />
                    <div *ngIf="signUpForm.get('confirmPassword').errors && signUpForm.get('confirmPassword').dirty"
                         class="error signup-error">
                        Error
                    </div>
                </div>
            </div>
            <div class="signup-row">
                <input type="text" class="input verification-code" formControlName="verificationCode" placeholder="verification code" />
                <div *ngIf="signUpForm.get('verificationCode').errors && signUpForm.get('verificationCode').dirty"
                     class="error signup-error">
                    Error
                </div>
            </div>
            <div class="signup-row">
                <button class="submit signup-button" type="submit">Sign up</button>
            </div>
            <div class="signup-row down-form">
                <a href="">login with Google</a>
                <a href="/signIn">already have an Account?</a>
            </div>
        </form>
    </div>
</div>