<div class="signup-page">
    <div class="signup">
        <!--<div class="background"></div>-->
        <div class="signup-inside">
            <div class="signup-row first-last-name">
                <div class="first-name">
                    <input type="text" class="input" id="name-input" placeholder="first name" />
                    <div class="error signup-error"></div>
                </div>
                <div class="last-name">
                    <input type="text" class="input" id="name-input" placeholder="last name" />
                    <div class="error signup-error"></div>
                </div>
            </div>
            <div class="signup-row">
                <input type="e-mail" class="input" id="e-mail" placeholder="e-mail" />
                <div class="error signup-error"></div>
            </div>
            <div class="signup-row passwords">
                <div class="password">
                    <input type="password" class="input" id="password" placeholder="password" />
                    <div class="error signup-error"></div>
                </div>
                <div class="password-ver">
                    <input type="password" class="input" id="password" placeholder="password (again)" />
                    <div class="error signup-error"></div>
                </div>
            </div>
            <div class="signup-row">
                <input type="text" class="input" id="verification-code" placeholder="verification code" />
                <div class="error signup-error"></div>
            </div>
            <div class="signup-row"><button class="submit signup-button" id="submit">Sign up</button></div>
            <div class="signup-row down-form">
                <a href="">login with Google</a>
                <a href="/signIn">already have an Account?</a>
            </div>
        </div>
    </div>
</div>