<div class="audioPlayer">
    <!--<div *ngIf="isPlaylistLoaded && audio">
        Ok
    </div>
    <div *ngIf="isPlaylistLoaded && !audio">
        Empty
    </div>
    <div *ngIf="!isPlaylistLoaded">
        Loading
    </div>-->

    <div *ngIf="isPlaylistLoaded">

        <div *ngIf="!audio">
            Your playlist is empty
        </div>
        <div *ngIf="audio" class="audio-controls">
            <div>
                <button *ngIf="isPlaying" (click)="pause()">Pause</button>
                <button *ngIf="!isPlaying" (click)="play()">Play</button>

                {{currentTime | secondToTime}} {{audio.artist}} - {{audio.song}} {{audio.duration | secondToTime}}
            </div>

            <div style="display: flex;">
                <progressBar [min]="0"
                             [max]="audio.duration"
                             [height]="15"
                             [width]="300"
                             [horizontal-padding]="10"
                             [vertical-padding]="0"
                             [currentValue]="currentTime"
                             (onClick)="currentTimeChanged($event)">
                </progressBar>

                <progressBar [min]="0"
                             [max]="100"
                             [height]="15"
                             [width]="100"
                             [horizontal-padding]="10"
                             [vertical-padding]="0"
                             [currentValue]="volume"
                             (onClick)="volumeChanged($event)">
                </progressBar>

                <input type="checkbox" [checked]="isLoop" (change)="toggleLoop()" />Loop
            </div>

            <div>
                <button (click)="previous()">Previous</button>
                <button (click)="next()">Next</button>
            </div>
            <div class="player-dialog">
                <p-dialog class="audio-panel-area"
                          [(visible)]="display"
                          [draggable]="false"
                          [resizable]="false"
                          [modal]="false"
                          [showHeader]="false"
                          [positionLeft]="0"
                          [positionTop]="80">
                    <div class="audios-panel">
                        <div class="audios"
                             infinite-scroll
                             [infiniteScrollDistance]="2"
                             [infiniteScrollThrottle]="100"
                             (scrolled)="onScrollDown()"
                             [scrollWindow]="false">
                            <div *ngFor="let audio of currentPlaylist.audios">
                                <audiotrack [id]="audio.id"
                                            [artist]="audio.artist"
                                            [song]="audio.song"
                                            [duration]="audio.duration"
                                            (onPlayStart)="playById(audio.id)"
                                            (onSelectAudio)="selectAudio($event)"
                                            (onRemoveFromPlaylist)="removeFromPlaylist($event)">
                                </audiotrack>
                            </div>
                        </div>
                        <div class="playlists-part">
                            <playlist [playlists]="playlists"
                                      [currentPlaylist]="currentPlaylist"
                                      (onCreate)="createPlaylist($event)"
                                      (onDelete)="deletePlaylist($event)"
                                      (onEdit)="updatePlaylist($event)"
                                      (onSelect)="selectPlaylist($event)">
                            </playlist>
                        </div>
                    </div>
                </p-dialog>
            </div>

            <div class="playlist-dialog">
                <p-dialog appendTo="body"
                          [(visible)]="addToPlaylistVisible"
                          [draggable]="false"
                          [resizable]="false"
                          [modal]="true"
                          [showHeader]="true"
                          [positionLeft]="0"
                          [positionTop]="80">
                    <p-header>
                        Add To Playlist
                    </p-header>
                    <div>
                        <div *ngIf="isAddToPlaylistError">
                            {{addToPlaylistError}}
                        </div>
                        <div *ngFor="let playlist of playlists">
                            <div>
                                <button (click)="addToPlaylist(playlist.id)">Add</button> {{playlist.title}}
                            </div>
                        </div>
                    </div>
                    <p-footer>
                        <button (click)="closePlaylistDialog()">Close</button>
                    </p-footer>
                </p-dialog>
            </div>
            
            <button *ngIf="!display" style="float:right" (click)="showDialog()">Show</button>
            <button *ngIf="display" style="float:right" (click)="hideDialog()">Hide</button>
        </div>
    </div>
    <div *ngIf="!isPlaylistLoaded">
        L O A D I N G
    </div>
</div>
