<div class="audio">
    <div class="play-controls">
        <button>Play</button>
    </div>
    <div class="song-info">
        <div class="artist-name">
            {{artist}}
        </div>
        <div class="delimiter">
            -
        </div>
        <div class="song">
            {{song}}
        </div>
        <div class="time">
            ({{duration | secondToTime}})
        </div>
    </div>
    <div class="additional-controls">
        <div class="playlist-add">
            <button>Add</button>
        </div>
        <div class="download">
            <button>Download</button>
        </div>
    </div>
</div>