<div class="audioPlayer">
    <!--<div *ngIf="isPlaylistLoaded && audio">
        Ok
    </div>
    <div *ngIf="isPlaylistLoaded && !audio">
        Empty
    </div>
    <div *ngIf="!isPlaylistLoaded">
        Loading
    </div>-->

    <div *ngIf="isPlaylistLoaded">

        <div *ngIf="!audio">
            Your playlist is empty
        </div>
        <div *ngIf="audio" class="audio-controls">
            <!--<p-overlayPanel #op appendTo="body">
                Content
            </p-overlayPanel>

            <button type="text" pButton label="Basic" (click)="op.toggle($event)"></button>-->


            <div>
                <button *ngIf="isPlaying" (click)="pause()">Pause</button>
                <button *ngIf="!isPlaying" (click)="play()">Play</button>

                {{currentTime | secondToTime}} {{audio.artist}} - {{audio.song}} {{duration | secondToTime}}
            </div>

            <div style="display: flex;">
                <progressBar [min]="0" 
                             [max]="duration"
                             [height]="15" 
                             [width]="300" 
                             [horizontal-padding]="10"
                             [vertical-padding]="0"
                             [currentValue]="currentTime"
                             (onClick)="currentTimeChanged($event)">
                </progressBar>

                <progressBar [min]="0"
                             [max]="100"
                             [height]="15"
                             [width]="100"
                             [horizontal-padding]="10"
                             [vertical-padding]="0"
                             [currentValue]="volume"
                             (onClick)="volumeChanged($event)">
                </progressBar>

                <input type="checkbox" [checked]="isLoop" (change)="toggleLoop()"/>Loop
            </div>
            
            <div>
                <button (click)="previous()">Previous</button>
                <button (click)="next()">Next</button>
            </div>
            <p-dialog [(visible)]="display"
                      [draggable]="false"
                      [resizable]="false"
                      [modal]="false"
                      [showHeader]="false"
                      [positionLeft]="0"
                      [positionTop]="80">
                <div class="audios-panel">
                    <table border="1" height="100%">
                        <tr>
                            <th>Play</th>
                            <th>Artist</th>
                            <th>Song</th>
                        </tr>
                        <tr *ngFor="let audio of playlist.audios">
                            <td><button (click)="playById(audio.id)">Play</button></td>
                            <td>{{audio.artist}}</td>
                            <td>{{audio.song}}</td>
                        </tr>
                    </table>
                </div>
            </p-dialog>
            <button *ngIf="!display" style="float:right" (click)="showDialog()">Show</button>
            <button *ngIf="display" style="float:right" (click)="hideDialog()">Hide</button>
        </div>        
    </div>
    <div *ngIf="!isPlaylistLoaded">
        L O A D I N G
    </div>
</div>
