.audioPlayer {
    background-color: rgba(235, 236, 241, 0.51);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    height: 60px;
    z-index: 5;
    position: fixed;
    width: 100%;
    top: calc(100% - 60px);
}

.audios-panel {
    padding: 1%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between
}

.audios {
    overflow-y: auto;
}

.player-dialog /deep/ .ui-dialog {
    height: calc(100% - 140px);
    width: 100%;
    border-radius: 0;
    padding: 0;
}

.playlist-dialog /deep/ .ui-dialog {

}

/deep/ .ui-dialog-content {
    height:100%;
    width: 100%;
    padding: 0 !important;
}

.audio-controls {
    display: flex;
    justify-content: space-around;
}