<div>
    <div *ngFor="let playlist of editPlaylists" (click)="select(playlist)" [ngClass]="{'select-playlist' : currentPlaylist.id === playlist.id }" style="display: flex">
        <div class="particular-playlist" *ngIf="!playlist.isEditing" style="display: flex">
            <div class="playlist-inner" *ngIf="!playlist.isGeneral" style="display: flex">
                <div class="playlist-title">
                    {{playlist.title}}
                </div>
                <div class="playlist-buttons" style="display:flex">
                    <div class="edit-playlist-button-div">
                       <button type="button" class="edit-playlist-button" (click)="startEdit(playlist)"></button>
                    </div>
                    <div>
                        <button type="button" class="delete-playlist-button" (click)="delete(playlist)"></button>
                    </div>
                </div>
            </div>
            <div *ngIf="playlist.isGeneral">
                General
            </div>                  
        </div>
        <form class="update-playlist-form" *ngIf="playlist.isEditing" [formGroup]="updatePlaylistForm" novalidate (ngSubmit)="update(updatePlaylistForm)">
            <div class="update-playlist-inner">
                <div style="display: flex">
                    <input type="text" formControlName="title" />
                    <error *ngIf="updatePlaylistForm.get('title').dirty"
                           [errorObject]="updateErrorsValidation['title']"
                           [actualErrors]="updatePlaylistForm.get('title').errors">
                    </error>
                </div>
                <div class="update-playlist-buttons">
                    <button class="submit login-button update-button" type="submit"></button>
                    <button class="submit login-button cancel-button" type="button" (click)="stopEdit(playlist)"></button>
                </div>
            </div>
        </form>
    </div>
</div>

<form class="create-playlist-form" [formGroup]="createPlaylistForm" novalidate (ngSubmit)="create(createPlaylistForm)">
    <div class="create-playlist-inner">
        <div class="create-playlist-input-div">
            <input class="create-playlist-input" type="text" formControlName="title" placeholder="create playlist" />
            <error *ngIf="createPlaylistForm.get('title').dirty"
                   [errorObject]="createErrorsValidation['title']"
                   [actualErrors]="createPlaylistForm.get('title').errors">
            </error>
        </div>
        <div class="create-playlist-button-div">
            <button class="submit login-button" type="submit">create</button>
        </div>
    </div>
</form>
